.OPActivationTable {
  box-sizing: border-box;
  font-size: 1em;
}

.OPActivationTable table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.OPActivationTable table td,
.OPActivationTable table th {
  width: 25%;
  border: 1px solid #cccccc;
}

.OPActivationTable table th {
  background-color: #eeeeee;
  font-size: 80%;
  font-weight: normal;
}

.OPActivationTable .animals {
  /* flex: 0.5; */
  background-color: #eeeeee;
}
.OPActivationTable .animals th {
  width: 50%;
}

/* .OPActivationTable table.layout {
  
} */
.OPActivationTable table.layout > tbody > tr > td {
  border: none;
  padding: 0;
  padding-right: 0.4em;
}
.OPActivationTable table.layout > tbody > tr > td + td {
  padding: 0;
  padding-left: 0.4em;
}
